body {
font-family: 'Source Serif 4', sans-serif;
border: 2x;
text-align: center;
}

p {
    font-weight:600;
}

nav{
    color: #000000;
    text-align: right;
    padding: 30px 50px 0 0; 
    font-size: large;
    font-weight: bold;

}

nav > a{
    color:#000000;
    font-weight: 310;
    text-decoration: none;
    margin-right: 10px;

}

nav > a:hover{
    text-decoration: underline;
    }

a {
    font-weight: 700;
}